<div class="row justify-content-sm-center">
  <div class="col-sm-12 col-md-12">
    <div class=" mt-5" *ngIf="transaction">

      <div class="mx-auto col-md-6 mt-3">
        <div class="border-bottom border-dark">
          <h4 *ngIf="!isEditMode">
            TRANSACTION {{transaction.id}}
          </h4>
          <h4 *ngIf="isEditMode">
            EDIT TRANSACTION {{transaction.id}}
          </h4>
        </div>

        <form [formGroup]="transactionForm" (ngSubmit)="modifyTransaction()" class="ml-3 mt-2">
          <ngb-alert #ngbAlert class="mt-3" *ngIf="alert" [type]="alert.type" (closed)="resetError()">
            {{ alert.message }}
          </ngb-alert>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label text-bold">ID:</label>
            <label class="col-sm-6 col-form-label">{{transaction.id}}</label>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label text-bold">Status:</label>
            <label class="col-sm-6 col-form-label">{{transaction.status}}</label>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label text-bold">Created date:</label>
            <label class="col-sm-6 col-form-label">{{transaction.date}}</label>
          </div>
          <div class="form-group row">
            <label for="toAccountName" class="col-sm-5 col-form-label text-bold">Sender:</label>
            <label *ngIf="!isEditMode" class="col-sm-6 col-form-label">{{transaction.fromAccount}}</label>
            <input *ngIf="isEditMode" id="fromAccountName" formControlName="fromAccountName" type="text"
                   placeholder="{{transaction.fromAccount}}" class="col-sm-6 form-control">
          </div>
          <div class="form-group row">
            <label for="fromAccountName" class="col-sm-5 col-form-label text-bold">Receiver:</label>
            <label *ngIf="!isEditMode" class="col-sm-6 col-form-label">{{transaction.toAccount}}</label>
            <input *ngIf="isEditMode" id="toAccountName" formControlName="toAccountName" type="text"
                   placeholder="{{transaction.toAccount}}" class="col-sm-6 form-control">
          </div>
          <div *ngIf="transaction.fromTransaction" class="form-group row">
            <label class="col-sm-5 col-form-label text-bold">From transaction:</label>
            <a (click)="goToTransaction(transaction.fromTransaction)" class="nav-link">
              {{transaction.fromTransaction}}
            </a>
          </div>
          <div *ngIf="transaction.toTransaction" class="form-group row">
            <label class="col-sm-5 col-form-label text-bold">To transaction:</label>
            <a (click)="goToTransaction(transaction.toTransaction)" class="nav-link">
              {{transaction.toTransaction}}
            </a>
          </div>
          <div class="form-group row">
            <label for="amount" class="col-sm-5 col-form-label text-bold">Amount:</label>
            <label *ngIf="!isEditMode" class="col-sm-6 col-form-label">{{transaction.amount}}</label>
            <input *ngIf="isEditMode" id="amount" formControlName="amount" type="text"
                   placeholder="{{transaction.amount}}" class="col-sm-6 form-control">
          </div>
          <div class="border-bottom border-dark">
          </div>
          <div class="d-flex justify-content-between mt-3">
            <button *ngIf="isEditMode" (click)="changeEditMode(false)" class="btn btn-primary btn-danger">Cancel
            </button>
            <button *ngIf="isEditMode" [disabled]="!transactionForm.valid" type="submit"
              class="btn btn-primary btn-primary">Save
            </button>
          </div>

          <div class="d-flex justify-content-between mt-3">
            <a *ngIf="!isEditMode" type="button" routerLink="/transactions"
              class="btn btn-primary btn-secondary">Back</a>
            <div>
              <button *ngIf="!isEditMode && isActive" type="button" (click)="changeEditMode(true)"
                class="btn btn-primary btn-primary mr-1">Edit
              </button>
              <button *ngIf="!isEditMode && isActive" type="button" (click)="revoke()" class="btn btn-warning btn-primary">Revoke
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
