<div class="modal-body">
    <h3>Your code is: </h3>
    <h1>{{code}}</h1>
    <h3>Request amount is: </h3>
    <h2>{{amount}}</h2>
    <button type="button" class="btn btn-primary btn-block mt-5 mb-4 btn-danger"
        (click)="activeModal.close('Close click')">Close</button>
</div>