<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center text-center">
  <fa-icon [icon]="faBank" [styles]="{'height': '2em', 'width': '2em'}" aria-hidden="true"></fa-icon>
  <a class="navbar-brand mr-auto" routerLink="/" id="bankButton">
    <h2 class="ml-3">{{title}}</h2>
  </a>
  <ul *ngIf="this.authService.isAuthenticated()" class="navbar-nav">
    <li *ngIf="this.authService.isAdmin()" class="nav-item">
      <a class="btn btn-primary ml-2" routerLink="/transactions/seed">Create seed transaction</a>
    </li>
    <li *ngIf="this.authService.isAdmin()" class="nav-item ">
      <a class="btn btn-primary ml-2" routerLink="/register">Add account</a>
    </li>
    <li *ngIf="shouldShowCode()" class="nav-item code">
      Active code: {{this.currentCode}}
    </li>
    <li *ngIf="this.authService.isCustomer()" class="nav-item balance">
      Balance: {{this.currentBalance}} €
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-light" (click)="onLogout()">
        <fa-icon [icon]="faLogout"></fa-icon>
        Log out
      </button>
    </li>
  </ul>
</nav>