<div class="row justify-content-sm-center">
  <div class="col-sm-12 col-md-12">
    <div class=" mt-5">
      <div class="mx-auto col-md-6 mt-3">
        <div class="border-bottom border-dark">
          <h4>CREATE NEW TRANSACTION</h4>
        </div>
        <ngb-alert #errorAlert class="mt-3" *ngIf="errorMessage" type="danger" (closed)="errorMessage = ''">
          {{ errorMessage }}
        </ngb-alert>
        <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="mt-4">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="fromAccountName">Sender:</label>
            <input class="col-sm-6" formControlName="fromAccountName" id="fromAccountName" placeholder="Sender account name"
              type="text">
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="toAccountName">Receiver:</label>
            <input class="col-sm-6" formControlName="toAccountName" id="toAccountName" placeholder="Receiver account name"
              type="text">
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="amount">Amount:</label>
            <input class="col-sm-6" formControlName="amount" id="amount" placeholder="Amount number" type="number">
          </div>
          <div class="border-bottom border-dark">
          </div>
          <div class="d-flex justify-content-between mt-3">
            <a routerLink="/transactions" class="btn btn-primary btn-danger">Cancel</a>
            <button [disabled]="!transactionForm.valid" type="submit" class="btn btn-primary btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>