<div class="modal-body">
    <h2>Payment confirmation</h2>
    <h4>Receiver: {{receiver|uppercase}}</h4>
    <h4>Amount: {{amount}}</h4>
    <button type="button" class="btn btn-primary btn-block mt-5 mb-4 "
        (click)="activeModal.close('confirm')">Confirm</button>
    <button type="button" class="btn btn-error btn-block mt-5 mb-4 btn-danger"
          (click)="activeModal.close('Close')">Cancel</button>
</div>
