<div class="modal-body">
  <h4 *ngIf="success">Transaction was successful</h4>
  <h4 *ngIf="!success">Transaction was unsuccessful</h4>
  <button type="button" class="btn btn-primary btn-block mt-5 mb-4 btn-danger"
        (click)="activeModal.close('Close')">Close</button>
</div>
