<div class="row justify-content-sm-center">
  <div class="col-sm-12 col-md-12">
    <div class=" mt-5">

      <div class="d-flex justify-content-between">
        <h4>
          ALL TRANSACTIONS
        </h4>
        <div>
          <a routerLink="/transactions/new" class="btn btn-primary btn-md btn-primary">Add transaction</a>
        </div>
      </div>
      <div class="card mx-auto mt-3">
        <div class="card-body">
          <table class="table table-striped table-responsive-md btn-table">
            <thead>
            <tr>
              <th *ngFor="let head of headElements" scope="col">{{head}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let el of transactions">
              <th scope="row">{{el.id}}</th>
              <td>{{el.status}}</td>
              <td>{{el.amount}}</td>
              <td>{{el.fromAccount}}</td>
              <td>{{el.toAccount}}</td>
              <td>{{el.date}}</td>

              <td>
                <a class="btn btn-primary btn-block mb-1 btn-info" routerLink="/transactions/{{el.id}}">Details</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
