<div class="row justify-content-sm-center">
  <div class="col-sm-12 col-md-6">
    <div class=" mt-5">
      <div class="card mx-auto mt-5">
        <div class="card-body">
          <h5 class="card-title border-bottom border-dark mt-3 pb-2">CREATE NEW ACCOUNT</h5>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mt-4">

            <ngb-alert #ngbAlert class="mt-3" *ngIf="alert" [type]="alert.type" (closed)="resetError()">
              {{ alert.message }}
            </ngb-alert>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="username">Username:</label>
              <input class="col-sm-6" formControlName="username" id="username" placeholder="Account owner username"
                     type="text">
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="name">Name:</label>
              <input class="col-sm-6" formControlName="name" id="name" placeholder="Account owner full name"
                     type="text">
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="accountName">Account name:</label>
              <input  class="col-sm-6" formControlName="accountName" id="accountName" placeholder="Account name"
                      type="text">
            </div>
            <div class="border-bottom border-dark">
            </div>
            <div class="d-flex justify-content-between mt-3">
              <a routerLink="/transactions" class="btn btn-primary btn-danger">Cancel</a>
              <button [disabled]="!registerForm.valid" type="submit" class="btn btn-primary btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
