<div class="row justify-content-sm-center">
  <div class="col-sm-12 col-md-6">
    <div class="card mx-auto mt-5">
      <div class="card-body">
        <h4 class="card-title">Welcome to Awesome Bank</h4>
        <h5 class="card-subtitle text-muted mt-3">PLEASE LOGIN TO CONTINUE</h5>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-5">
          <div *ngIf="shouldShowError" class="alert alert-danger" role="alert">
            Invalid credentials
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon [icon]="faUser"></fa-icon>
                </div>
              </div>
              <input formControlName="name"
                     [(ngModel)]="username"
                     type="text"
                     class="form-control"
                     id="name"
                     placeholder="Your username">
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon [icon]="faLock"></fa-icon>
                </div>
              </div>
              <input [(ngModel)]="password"
                     formControlName="password"
                     type="password"
                     class="form-control"
                     id="password"
                     placeholder="Your password">
            </div>

          </div>
          <button [disabled]="!loginForm.valid" type="submit"
                  class="btn btn-primary btn-block mt-5 mb-4 btn-danger">Login</button>
          <!--a class="btn btn-primary w-100 mb-4" routerLink="/register">Register new account</a--><!--TODO add this to the main view of a logged in admin-->
        </form>
      </div>
    </div>
  </div>

</div>
