<div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-6">
        <div class="card mx-auto mt-5">
            <div class="card-body">
                <form [formGroup]="requestForm" (ngSubmit)="openRequestModal()">
                    <h5 class="card-title text-danger">Request a payment</h5>
                    <input formControlName="amount" type="number" class="form-control" placeholder="Enter amount">
                    <ngb-alert #errorAlertRequest class="mt-3" *ngIf="errorMsgRequest" type="danger"
                               (closed)="errorMsgRequest = ''">{{ errorMsgRequest }} </ngb-alert>
                    <button [disabled]="!requestForm.valid" class="btn btn-primary btn-block mt-5 mb-4 btn-danger"
                            type="submit">GENERATE CODE
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card mx-auto mt-5">
            <div class="card-body">
                <form [formGroup]="paymentForm" (ngSubmit)="openPaymentModal()">
                    <h5 class="card-title text-danger">Complete a payment</h5>
                    <input formControlName="code" type="text" class="form-control" placeholder="Enter code">
                    <ngb-alert #errorAlertPayment class="mt-3" *ngIf="errorMsgPayment" type="danger"
                               (closed)="errorMsgPayment = ''">{{ errorMsgPayment }} </ngb-alert>
                    <button [disabled]="!paymentForm.valid" class="btn btn-primary btn-block mt-5 mb-4 btn-danger"
                            type="submit">SEND FUNDS
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
