<div class="modal-body">
  <h4 class="justify-content-center">Account creation was successful!</h4>
  <div class="row mt-4 justify-content-center">
    <span class="mr-3">Username: </span><h5>{{username}}</h5>
  </div>
  <div class="row mt-4 justify-content-center">
    <span class="mr-3">Password: </span><h5>{{password}}</h5>
  </div>
  <button type="button" class="btn btn-primary btn-block mt-5 mb-4 btn-danger"
          (click)="activeModal.close('Close')">Close</button>
</div>
