#bankButton, #bankButton :hover {
  color:black;
  text-decoration: none;
}
.navbar li a {
  color: white !important;
}
@media screen and (max-width: 600px) {
  .navbar {
    display: block;
  }
  fa-icon {
    display: none;
  }
  a {
    margin-top: 0.2em;
  }
  .main {
    margin-bottom: 10px;
  }
}
